$dblue: #131821;
$ltwhite: #f2f5fa;
$ltgray: #e3e3e4;
$gray: #6a707b;
$blue: #4066a5;
$white: #fff;
$black: #000;
$aclick_link: #233759;
$fb_hover: #4267b2;
$fb_clicked: #2f4a80;
$ig_hover: #c13584;
$ig_clicked: #8f2762;
$twitter_hover: #1da1f2;
$twitter_clicked: #177fbf;
$yt_hover: #ff0000;
$yt_clicked: #cc0000;
$error_msg: red;

$font-default: 1rem; // 16px
$font-large: 2rem; // 32px
$mobile-large: 1.5rem; // 24px
$mobile-default: 0.875rem; // 14px
$small-font: 0.75rem; // 12px
